<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScreenVault</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
    <script src="/main.js?<%=Time.now.to_i%>" defer></script>
    <link rel="stylesheet" href="/icons.css" />
</head>
<body class="dark">
    <header>
        <h1><a href="/">ScreenVault</a></h1>
        <button id="menu-button" class="icon">
            menu
        </button>

    </header>
    <nav class='menu'>
        <% if @user %>
            <p class="user-info">Welcome, <%= @user['username'] %>!</p>
            <a href='/media/new' class="button-link">Add Media</a>
            <a href='/media/user_ratings' class="button-link">My ratings</a>
            <a href='/logout' class="button-link">Logout</a>
        <% else %>
            <a href='/login' class="button-link">Login</a>
            <a href='/register' class="button-link">Register</a>
        <% end %>
    </nav>
    <div id='space'></div>
    <%= yield %>
</body>
</html>