<form action='/login' method='post'>
    <label>Name<input type='text' name='username'></label>
    <label>Password<input type='text' name='password'></label>
    <input type='submit' value='save'>
</form>
<p>
    Don't have an account? register <a href="/register">here!</a>
</p>